//Variables couleur
$bleu: #15c5bd;
$blanc: #FFF;
$noir: #303030;

//Acceuil
div{
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        height: 600px;
        width: auto;
    }
    h1{
        text-align: center;
        margin-top: -100px;
        margin-bottom: 100px;
    }
}

//Products
div{
    .container-products{
        flex-flow: row;
    }
    .card{
        width: 300px;
        margin: 35px;
        .card-img-top{
            float: right;
            width: 300px;
            height: auto;
            padding: 13px;
        }
        .card-title{
            color: $blanc;
        }
        .card-body{
            background-color: $bleu;
        }
        .btn{
            background-color: $blanc;
            color: $noir;
            border-color: $noir;
        }
    }
}

//404
div{
    .logo404{
        text-align: center;
        .laurier{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: -150px;
            height: 700px;
            width: auto;
        }
        .inlaurier{
            display: block;
            margin-top: -440px;
            font-size: 50px;
        }
        .outlaurier{
            display: block;
            margin-top: 55px;
            margin-bottom: 100px;
            font-size: 18px;
        }
    }
}