div .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  height: 600px;
  width: auto;
}

div h1 {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 100px;
}

div .container-products {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

div .card {
  width: 300px;
  margin: 35px;
}

div .card .card-img-top {
  float: right;
  width: 300px;
  height: auto;
  padding: 13px;
}

div .card .card-title {
  color: #FFF;
}

div .card .card-body {
  background-color: #15c5bd;
}

div .card .btn {
  background-color: #FFF;
  color: #303030;
  border-color: #303030;
}

div .logo404 {
  text-align: center;
}

div .logo404 .laurier {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  height: 700px;
  width: auto;
}

div .logo404 .inlaurier {
  display: block;
  margin-top: -440px;
  font-size: 50px;
}

div .logo404 .outlaurier {
  display: block;
  margin-top: 55px;
  margin-bottom: 100px;
  font-size: 18px;
}

/* Produits */
#shop{
    display: flex;
}
.shop-box{
    border: 1px black solid;
}

/* Contact */
input[type=text]:valid:focus, input[type=email]:valid:focus{
  color: green;
  border: green 3px solid;
} 
input[type=text]:invalid:focus, input[type=email]:invalid:focus{
  color: red;
  border: red 3px solid;
}
.blindtest{
  display: none;
}
